# Data Science Tools and Ecosystem

In this nootbook, Data Science Tools and Ecosystem are summerized.

## Auther 
Congyan Zhang

**Objectives:**
* list popular languages for data science
* list useful libraries
* list data science tools

Some of the popular languages that Data Scientists use are:
1. Python
1. Java
1. C++

Some of the commonly used libraries used by Data Scientists include: 
   1. NumPy
   1. Pandas
   1. SciPy

|Data Science Tools|
|----|
|RStudio|
|Apache Spark|
|TenserFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
mins=200
hours=mins/60
print(hours)

3.3333333333333335